* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0 5rem;
  background: #353535;
  color: #fad0a3;
}

.hidden {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

#header,
#header > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header {
  /* border: 1px solid red; */
  padding: 2.5rem 0 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

#header > ul {
  gap: 1.5rem;
}

#date {
  /* border: 1px solid green; */
  width: fit-content;
  margin:0 auto;
  padding: 0.5rem;
}

main {
  max-width: 36rem;
  margin: auto auto auto;
}

#heading {
  width: fit-content;
  margin: 6rem auto 4rem;
  text-align: center;
}

#main-content {
  /* border: 2px solid green; */
  margin: 1rem 0;
  padding: 0.01rem;
  background: #664A32;
  border-radius: 0.75rem;
}

#book-list {
  max-height: 17.2rem;
  overflow-y: scroll;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.84rem;
}

.book:nth-child(even) {
  background: #836245;
}

.remove {
  padding: 0.25rem;
}

#book-form {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
  margin: 4.6rem auto;
  text-align: center;
}

input,
#add {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

input{
  background: #FFEAD9;
}

#add {
  background:  #ffc596;
  width: 5rem;
  align-self: center;
}

#contact-details {
  /* border: 1px solid purple; */
  width: 100%;
  text-align: center;
  padding: 1rem;
}

#details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  width: max-content;
  margin: 3.5rem auto;
}

.fa-brands {
  transition: color 0.5s ease;
}

.fa-brands:hover {
  color: #ef9347;
}

#footer {
  /* border: 1px solid purple; */
  padding: 1rem 1rem 2rem;
  position: absolute;
  bottom: 0;
  width: 75%;
  left: 12.5%;
  text-align: center;
}
